# protection aliases
alias rm="rm -i"  # always ask before removing
alias mkdir="mkdir -p"  # create directories along the way
# pretty ls
alias l="ls --color=always -lG"
alias ll="ls --color=always -laG"
