# ~/.bash_profile: executed by bash(1) for login shells.

umask 002

for file in ~/.{aliases,functions,exports}; do
  [ -r "$file" ] && [ -f "$file" ] && source "$file";
  done;
unset file;

PS1='[\u]::\w $ '
